name: Linters

on:
  pull_request:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  linters:
    name: Run Linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Debug GitHub Variables
        run: |
            echo "github.event_name: ${{ github.event_name }}"
            echo "github.ref_name: ${{ github.ref_name }}"
            echo "github.event.repository.default_branch: ${{ github.event.repository.default_branch }}"

      - name: Install uv (with caching)
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Cache pre-commit
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pre-commit
          key: ${{ runner.os }}-lint-py-${{ hashFiles('**/.pre-commit-config.yaml', '**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-lint-

      - name: Run pre-commit (via uv)
        run: uv run pre-commit run --all-files

      - uses: pre-commit-ci/lite-action@v1.1.0
        if: always()
